/* ===== =====  BASE-LAYOUT  ===== ===== */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100vh; 
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
/* ===== =====  RE-USABLE STYLING  ===== ===== */
a:link, 
a:visited {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s, color 0.2s;
}
a:hover, 
a:active {
    color: gray;
    border-bottom: 2px solid gray;
}
li {
    list-style-type: none;
    font-size: 80%;
    font-weight: 400;
}
.links {
    padding-right: 15px;
}
.title {
    display: flex; 
    justify-content: center;    
    padding-bottom: 30px;
}
.center {
    display: flex; 
    justify-content: center;
    align-items: center;
}
section {
    padding: 30px 0;
}
/*  ===== =====  HEADER  ===== ===== */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/images/Dummyimage1.png);
    background-size: cover;
    background-position: center;
    background-position: fixed;
    height: 100vh;
}
.navbar {
    height: 60px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    align-items: baseline;

    background-color: rgb(211, 211, 211, 0.7);
}
h1 {
    font-size: 120%;
    font-weight: 400;
}
.name-title {
    margin-left: 15px; 
}
.nav-link {
    display: flex;
    margin-right: 10px; 
}
.hero-text {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: white;
    height: 90%;
}
h2 {
    font-size: 220%;
    font-weight: 400; 
}
p {
    font-size: 150%;
    font-weight: 400;
}

/* ===== =====  BIO  ===== ===== */
.section-bio {
    /* display: flex; 
    flex-direction: column;
    justify-content: space-between; */

    height: 100vh;
}
.bio-content {
    display: flex; 
    margin: 0 30px;
    /* height: 400px; */
}
.bio-box:first-child {

}
.bio-box:last-child {
    font-size: 70%;
    line-height: 190%; 
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center; 
}
.pic {
    max-width: 70%;
    height: auto;
    /* border-radius: 25%; */
}


