/* ===== =====  BASE-LAYOUT  ===== ===== */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100vh; 
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
/* ===== =====  RE-USABLE STYLING  ===== ===== */
a:link, 
a:visited {
    color:rgb(2, 150, 2);
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s, color 0.2s;
}
a:hover, 
a:active {
    color: rgb(0, 207, 0);
    border-bottom: 2px solid rgb(0, 207, 0);
}
li {
    list-style-type: none;
    font-size: 80%;
    font-weight: 400;
}
.links {
    padding-right: 15px;
}
.title {
    display: flex; 
    justify-content: center;    
    padding-bottom: 30px;
}
.center {
    display: flex; 
    justify-content: center;
    align-items: center;
}
section {
    padding: 30px 0;
}
h2 {
    font-size: 220%;
    font-weight: 700;
}
h2:after {
    display: flex;
    height: 2px; 
    background-color: gray;
    content:' ';
    width: 150px; 
    margin: 0 auto;
    margin-top: 20px;
}
p {
    font-size: 150%;
    font-weight: 400;
}

/* ===== =====  HEADER  ===== ===== */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/images/code.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.navbar {
    height: 60px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
    /* background-color: rgba(66, 66, 66, 0.7); */
    background-color: rgba(100, 100, 100, 0);
}
.name-title {
    margin-left: 15px; 
}
.nav-link {
    display: flex;
    justify-content: space-evenly;

    width: 40%;
    height: auto; 
}
.nav-link li {
    margin-right: 10px; 
    font-size: 100%;
    font-weight: 400;
}
h1 {
    font-size: 120%;
    font-weight: 400;
}
.hero-text {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: white;
    height: 90%;
}
.hero-text h1 {
    font-size: 220%;
    font-weight: 700; 
}
.hero-text p {
    font-weight: 300;   
}
/* ===== =====  ABOUT ===== ===== */
.section-about {
    /* height: 100vh; */
    background-color: rgb(247, 247, 247);
}
.about-content {
    display: flex;
    margin: 0 30px;
    height: auto;
}
.about-box:first-child {
    text-align: center; 
    padding: 5px; 
    flex: 1
}
.about-box:last-child {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    flex: 1;
}
.about-box:last-child p:first-child {
    font-size: 150%;
    font-weight: 700;
    word-spacing: 1px;
}
.about-box:last-child p:last-child {
    font-size: 96%;
    line-height: 160%; 
    word-spacing: 1px;
    letter-spacing: 0.5px;
}
.about-box img {
    max-width: 30vw;
    height: auto;
    /* border-radius: 25px; */
}

/* ===== =====  RECENT-PROJECTS  ===== ===== */
.section-projects {
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100vh; 
}
.project-container {
    display: flex;
    overflow: hidden;
    width: 95vw;
    height: 90vh;
    /* outline: 2px solid orange; */
}
.project-box {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin: 3px; 
}   
.project-box h3 {
    color: transparent;
}
.project-box a {
    display: flex; 
    justify-content: center; 
    width: 8vw;
    border-bottom: none;
    font-weight: 400;
    color: transparent;
}   
.box1 {
    flex: 1;
    background-image: linear-gradient(rgba(66, 66, 66, 0.2), rgba(66, 66, 66, 0.2)), url(/images/AerolPlane.png); 
    background-size: cover;
    background-position: center;
    transition: 
        opacity 0.5s,
        flex 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11);
    outline: 1px solid black;
}
.box2 {
    flex: 1;
    background-image: linear-gradient(rgba(66, 66, 66, 0.2), rgba(66, 66, 66, 0.2)), url(/images/AerolPlane.png);
    background-size: cover;
    background-position: center;
    transition: 
        opacity 0.5s,
        flex 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11);
    outline: 1px solid black;
}
.box3 {
    flex: 1;
    background-image: linear-gradient(rgba(66, 66, 66, 0.2), rgba(66, 66, 66, 0.2)), url(/images/AerolPlane.png);
    background-size: cover;
    background-position: center;
    transition: 
        opacity 0.5s,
        flex 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11);
    outline: 1px solid black;
}
.box4 {
    flex: 1;
    background-image: linear-gradient(rgba(66, 66, 66, 0.2), rgba(66, 66, 66, 0.2)), url(/images/AerolPlane.png);
    background-size: cover;
    background-position: center;
    transition: 
        opacity 0.5s,
        flex 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11);
    outline: 1px solid black;
}
.project-box:hover h3 {
    color: white;
    font-weight: 700;
    font-size: 180%;
}
.project-box:hover a {
    color: white;
    font-weight: 700;
    font-size: 150%;
}
.box1:hover {
    flex: 1.5;
    opacity: 0.6;
    background-image: none;
    background-color: gray;
    outline: 3px solid black; 
}
.box2:hover {
    flex: 1.5;
    opacity: 0.6;
    background-image: none;
    background-color: gray;
    outline: 3px solid black;
}
.box3:hover {
    flex: 1.5;
    opacity: 0.6;
    background-image: none;
    background-color: gray;
    outline: 3px solid black;
}
.box4:hover {
    flex: 1.5;
    opacity: 0.6;
    background-image: none;
    background-color: gray;
    outline: 3px solid black;
}


 /* ===== =====  TECHNOLOGY  ===== ===== */
 /* .section-tech {
     display: flex; 
     flex-direction: column; 
     align-items: center; 
 }
.icon-container {
    background-color: aliceblue;
    margin: 10px; 
} */


/* ===== =====  CONTACT  ===== ===== */
.section-contact {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);
}
h3 {
    text-align: center; 
    font-size: 100%;
    font-weight: 400;
    margin-bottom: 20px; 
} 
.icon-container {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-box a {
    border-bottom: none;
    padding: 0;
}
.icon-box img {
    width: 55px; 
    height: auto;
    transition: all .1s;
}
.icon-box:last-child img {
    height: 58px;
    padding: 2px 0;
}
.icon-box img:hover {
    transform: scale(1.2, 1.2);
}
.icon-box .tooltiptext {
    visibility: hidden;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-size: 70%;
    font-weight: 400;
    text-align: center;
    border-radius: 6px;
    padding: 3px 3px;
    z-index: 1;
    transition: all .2s;
}
.icon-box:hover .tooltiptext {
  visibility: visible;
}

.email-form {
    display: flex; 
    justify-content: center;
    height: 250px; 
}
form {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    padding: 3px;
    transition: all .2s;
}
.form {
    display: flex; 
    flex-wrap: wrap; 
}
input[type=text],
input[type=email] {
    flex: 1 0 25%;
    border: 2px solid black; 
    border-radius: 3px; 
    padding: 7px; 
    font-size: 80%;
}
input[type=text] {
    margin-right: 10px;
}
input[type=email] {
    margin-left: 10px; 
}
textarea {
    flex: 2 0 50%;
    height: 100px; 
    margin-top: 18px; 
    border: 2px solid black; 
    border-radius: 3px;
    padding: 5px 7px;  
    font-size: 80%;
}
input[type=submit] {
    width: 23%;
    height: 12%;
    font-size: 85%;
    border: 2px solid black; 
    border-radius: 3px;
    background-color: rgb(2, 150, 2);
    transition: all .2s;
}
input[type=submit]:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 177, 0);
}
input[type=submit]:active {
    transform: translateY(1px);
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); */
}












